* {
  box-sizing: border-box;
} 
P {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}
 p{
   margin: 0;
   padding: 0;
 }
::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dbdbdb;
}
::-webkit-scrollbar-track {
    border-radius: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0b1a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
